@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
    padding: 0px 20px;
    transition: all 0.6s ease-in-out;
    transform: translateX(0);
}
.container.active form{
    transform: translateX(100%);
}
.container h1{
    letter-spacing: 0.3px;
}
.container .social-icons{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.container .social-icons i{
    margin-right: 10px;
    border: 1px solid #EEE;
    height: 40px;
    width: 45px;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}
form .social-icons i:hover{
    background-color: #c3cbdc;
}
form span{
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}
form input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #EEE;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
}
.sign-up h1{
    margin-bottom: 30px;
}
.terms {
    display: flex;
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
}
.terms input[type="checkbox"] {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
}
.terms label {
    cursor: pointer;
    line-height: 15px;
}
form a{
    text-decoration: none;
}
form .forget-password{
    text-decoration: none;
    font-size: 13px;
    margin-top: -14px;
    margin-bottom: 30px;
    align-self: flex-end;
    transition: all 0.4s ease-in-out;
}
form .forget-password:hover{
    color: #c3cbdc;
}
button{
    padding: 13px 25px;
    color: white;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    border-radius: 20px;
    outline: none;
    border: none;
    background: linear-gradient(to right, #434343 0%, black 100%);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
button:hover{
    opacity: 0.8;
}
.sign-in{
    z-index: 2;    
}
.container.active .sign-in{
    z-index: 0;
    opacity: 0;
}
.sign-up{
    z-index: 0;
    opacity: 0;
}
.container.active .sign-up{
    z-index: 3;
    opacity: 1;
}
.toggle-container{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #434343 0%, black 100%);
    border-radius: 120px 0 0 80px;
    color: white;
    transition: all 0.6s ease-in-out;
    transform: translateX(0);
    z-index: 1000;
}
.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 120px 80px 0;
}
.toggle-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.6s ease-in-out;
}
.toggle-container .toggle-left{
    display: none;
    transform: translateX(-200%);
}
.container.active .toggle-left{
    display: block;
    transform: translateX(0%);
}
.toggle-container .toggle-right{
    transform: translateX(0%);
}
.container.active .toggle-right{
    display: none;
    transform: translateX(200%);
}

.toggle-container button{
    background: linear-gradient(to right, #ffffff, #e6e6e6, #f0f0f0);
    color: black;
}